.portfolio_container{
padding: 10px;
margin: 0;
}
.portfolio_category_ul{
    display: flex;
    list-style-type:none;
    gap: 20px;
    justify-content: flex-start;
     padding: 0; margin: 0;
}
.portfolio_grid_container {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 20px;
    /* padding: 20px; */
  }
  /* here */
  
  /* here */
  
  .portfolio_category_item {
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 6px;
     transition: 0.3s ease-in-out;
  }
  
  .portfolio_category_item:hover {
     color: var(--gray-color);
  }
  .portfolio_category_item.active  {
     color: var(--green-color);
  }


  @media (max-width: 480px) {
    .portfolio_grid_container {
      grid-template-columns: repeat(1, minmax(250px, 1fr));
    }
    .portfolio_category_ul{
      display: flex;
      list-style-type:none;
      gap: 10px;
      justify-content: flex-start;
       padding: 0; margin: 0;
    }
  }